@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1743px;
    margin: 10px auto;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: "Poppins", sans-serif;
}

.first-title-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 120px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
}

.first-col-item {
    padding: 0px 20px;
    height: 70px;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
    transition: all 1s ease-in-out;
    font-size: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.center-image {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-image img {
    width: 20px;
    height: 20px;
}

.table-card .first-col-item:last-child,
.first-col .first-col-item:last-child {
    border-bottom: 0;
}

.table-card .first-col-item:last-child {
    padding: 0px;
}

.table-card {
    border: 1px solid #dfdfdf;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 7px 88px -73px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 7px 88px -73px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 88px -73px rgba(0, 0, 0, 0.75);
    transition: all .3s ease-in-out;
}

.table-card:hover {
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.75);
    transition: all .3s ease-in-out;
    z-index: 99;
}

.card-title {
    font-size: 26px;
}

.first-title-box p+p {
    margin: 0;
}

.first-col {
    border: 1px solid #dfdfdf;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.first-col-item a {
    border: 1px solid #fec107;
    background-color: #2c2c61;
    color: #fff;
    border-radius: 20px;
    padding: 15px 20px;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    transition: all .3s ease-in-out;
}

.first-col-item a:hover {
    position: absolute;
    top: -10px;
    transition: all 1s ease-in-out;
}

.colorFont {
    color: #FEC107;
    font-weight: 700;
}